.credit-container {
	display: flex;
	background-color: rgb(255, 255, 255);
}

.credit-remaining-content {
	flex: 1;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 80px;
}

.progress-containers {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next row */
	justify-content: center; /* Center items horizontally */
	column-gap: 63px;
}

.confirm-accept {
	margin-bottom: 20px;
	padding: 10px 70px;
	font-size: 16px;
	border: none;
	background-color: #2d8259;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: background-color 0.3s ease;
	margin-right: 200px;
	margin-left: 200px;
}

.confirm-reject {
	margin-bottom: 20px;
	padding: 10px 70px;
	font-size: 16px;
	border: none;
	background-color: #2d8259;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: background-color 0.3s ease;
}
.gold-icon{
	position: absolute;
	top: 250px;
	left: 320px;
	width: 83px;
	height: 86px;;
}

.comments {
	color: black;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	display: flex;
	flex-direction: column; 
	justify-content: space-between; 
	align-items:center; 


  }

  .comments-input input {
	background-color: white;

	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	width: 537px;
	height: 180px;
	flex-shrink: 0;
  }
