.summary-display-container{
  display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem 0;
	border-radius: 12px;
	background-color: #df1212;
	margin-left: 25px;
    margin-top: 500px;

}

.summary-button{
    margin-bottom: 10px;
    padding: 10px 70px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d7e60b;
    color: #2D8259;
    cursor: pointer;
    outline: none;
    margin-right: 50px;
    position: relative;
    transition: background-color 0.3s ease;
}

.summary-button:hover {
    border: 1px solid #45a049;
}
