body {
	display: flex;
}

.app-container {
	display: flex;
}

.remaining-content {
	/* Use 90% of the remaining width */
	flex: 1;
	/* Add any additional styling you need for the remaining content */
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination button {
	padding: 8px 16px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 5px;
	width: 100px;
}

.pagination button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.pagination button.prev {
	background-color: #006a4c;
	color: #ffffff;
}

.pagination button.next {
	background-color: #006a4c;
	color: #ffffff;
}
