body{
	display: flex;
	
}

.app-container {
	display: flex;
}

.remaining-content {
	/* Use 90% of the remaining width */
	flex: 1;
	/* Add any additional styling you need for the remaining content */
}