
.search-box {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 4px;
    margin-right: 10px; /* Optional: Add some spacing between the search box and other components in the horizontal container */
    margin-left: 40px;
   
  }
  
  input {
    border: none;
    outline: none;
    padding: 8px;
    width: 1290px;
    background-color: rgb(255, 255, 255);
    color: black;
    /* border-radius: 7px; */
    padding-left: 30px; /* Adjust the left padding to make space for the icon */
  }
  
  .search-icon {
    margin-left: 8px;
    color: #a79d9d;
    position: absolute; /* Position the icon absolutely inside the search-box */
    
  }

  .profile-icon{
    margin: 25px 8px 10px 30px;
    color: #ffffff;
    font-size: larger;

  }

  @media (max-width: 1280px) {

    .horizontal-container {
      flex-direction: column; /* Stack items vertically on phones */
      padding: 5px; /* Reduce padding for phones */
    }
  
    .search-box {
      margin-left: 10px; /* Adjust margin-left for phones */
      margin-right: 10px; /* Optional: Add some spacing between the search box and other components in the horizontal container */
    }
  
    input {
      padding-left: 20px; /* Adjust left padding for phones */
      width: 800px;
    }
  
    .profile-icon {
      margin: 10px 8px 10px 10px; /* Adjust margins for phones */
    }

            .search-icon {
              margin-left: 8px;
              color: #a79d9d;
              position: absolute;
              margin-right: 8px;
              /* Position the icon absolutely inside the search-box */
      
            }
  }
  