.vertical-container {
    display: flex;
    flex-direction: column;
    background-color: #2D8259;
    padding: 10px;
    /* width: 34%; */
    visibility: block;
    position: relative;
    height: 100vh;

}

.button-container {
    position: relative;
    display: inline-block;
}

.button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2D8259;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-right: 50px;
    /* position: relative; */
}

.button:hover {
    background-color: #45a049;
}

.line {
    position: absolute;
    bottom: -1px;
    /* Adjust the distance between button and line */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 7px;
}