.review-main-container {
	display: flex;
}

.test-container {
	flex: 1;
}

.review-information-container {
	justify-content: center;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	min-width: 100%;
	background-color: #efedea;
	transform: translateX(0%);
	color: #005F44;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.Review-text {
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: 140%;
	top: 20%;
}
.form-container {
	width: 85%;
	height: 80%;
	background-color: white;
	top: 7%;
	left: 48%;
	padding-top: 50px;
	padding-left: 90px;
	position: absolute;
	transform: translateX(-50%);
	gap: 47px;
	border: none;
	/* border-top: 9px solid #005F44; */
	/* border-radius: 5px; */
}

/* 
.AccountNo .birthDate .loanType .loanAmount {
    display: flex;
    flex-direction: column; /* Display label and input field in a column 
    gap: 58px; 
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
    
    
} */

.AccountNo, .birthDate, .dateApplied {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	/* margin-left: 17px; */
	/* margin-right: 90px; */
}
.employmentStatus {
	margin-left: 10px;
}
.defaults {
	margin-left: 20px;
}
.dependents {
	margin-left: 25px;
}
.income {
	margin-left: 10px;
}

.employmentStatus, .dependents, .income, .defaults{
    display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.residentialStatus {

	display: flex;
	flex-direction: column;
	margin-top: 120px;
	margin-left: -1060px;
}




.income input {
	width: 128px;
}

.loyaltyDays {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	/* margin-left: 40px; */
}
.loyaltyDays input{
	width: 68px !important;
}
.loanAmount {
	display: flex;
	flex-direction: column;

	margin-top: 30px;
}
.loanAmount input {
	width: 128px;
}
.loanType {
	display: flex;
	flex-direction: column;

	margin-top: 30px;
}
.loanTerm {
	display: flex;
	flex-direction: column;

	margin-top: 30px;
}
.loanTerm input {
	width: 68px !important;
	height: 10px;
}
.personalFields {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	width: 1150px;
	height: 126px;
	justify-content: space-evenly;
}
.personalInfo .personalInfoTxt {
	/* display: flex; */
	/* align-items: start; */
	display: block; /* or inline-block */
	box-sizing: border-box;

	max-width: 1152px;
	height: 24px;
	/* border: 1px solid black; */
	background-color: #99c3b7;

}
.loanInfo .loanInfoTxt {
	background-color: #99c3b7;
	width: 1152px;
	margin-top: 38px;

	height: 24px;
}

.financialInfo .financialInfoTxt {
	background-color: #99c3b7;
	width: 1152px;
	height: 24px;
	margin-top: 27px;
}
.financialFields {
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	

	border: 1px solid black;
	width: 1150px;
	height: 245px;
	/* justify-content: space-evenly; */
}

.loanFields {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	width: 1150px;
	height: 126px;
	justify-content: space-evenly;
	/* margin-top: 58px; */
}

.form-container input {
	background-color: white;
	height: 10px;
	width: 252px;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 4px;
	display: inline-block;
}

.loanAmount input {
	height: 10px;
	width: 101px;
}
.dependents input {
	height: 10px;
	width: 101px;
}

.form-container label {
	color: #4f4f52;
	font-family: "Roboto-Regular", Helvetica;
	font-size: 14px;
	font-weight: 800;
}

.form-container button {
	width: 218px;
	height: 42px;
	color: #fff;
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;


}

.closeBTN {
	background-color: #b8b3b3;
	border: none;
}

.calculateBTN {
	background-color: #006a4c;
	border: none;
}
.calculateBTN:hover {
	cursor: pointer;
}
.closeBTN:hover {
	cursor: pointer;
}
.prof-icon {
	position: absolute;
	top: 5px; /* Adjust the top value to position the icon higher or lower */
	left: -40px;
	color: #ffffff;
	font-size: 2rem;
	margin: 0 50px;
	background-color: #006a4c94;
	border-radius: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
}

.documents-container {
	border: 1px solid black;
	width: 459px;
	height: 126.391px;
	margin-top: 100px;
}

.reviewInformation-buttons{
	height: 42px;
    width: 1152px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* margin-top: 45px; */
	/* border: 1px solid black; */
	margin-top: 30px;
}