.auth-form-container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 500%;
  align-items: center;
  justify-content: center;
  background-color: #2a684f;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 506px;
  height: 492px;
  background-color: white;
  top: 250px;
  left: 50%;
  padding: 10px 42px;
  position: absolute;
  transform: translateX(-50%);
}

.login-form input {
  background-color: #d9d9d9c2;
  height: 47px;
  width: 460px;
  border-radius: 4px;
}
.login-form label {
  color: black;
  text-align: left;
}

.input-row {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form button {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 48px;
  width: 384px;
  background-color: #2a684f;
  font-size: large;
  color: white;
  top: 60px;
}

.logo {
  height: 89px;
  left: 50%;
  top: -250px;
  position: relative;
  width: 160px; /*474 */
  transform: translateX(-50%);
}

.header {
  height: 97px;
  left: 10px;
  top: -350px;
  position: relative;
  width: 350px;
  color: white;
  left: 20%;
  transform: translateX(-50%);
}

.login-text {
  color: var(--black-100);
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: 15px;
  white-space: nowrap;
  width: fit-content;
  text-align: center;
}
